@{
    ViewData["Title"] = "User Page";
}




<div id="app">
    <template v-if="states.table == true">
        <h1 class='text-center'>Users</h1>
        <table  class="table table-bordered">
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        
            <tr v-for="(user, index) in users">
                <td> {{ user.username }} </td>
                <td> {{ user.email }} </td>
                <td> {{ user.roleName }} </td>
                <td>
                    <button class='btn btn-warning btn-sm' v-on:click="edit(user)"> Edit </button>
                </td>
                <td>
                    <button class='btn btn-danger btn-sm' v-on:click="remove(user)"> Delete </button>
                </td> 
            </tr>
            
           
        </table>
        <button type="button" class="btn btn-success" v-on:click="add">Add User</button>
    </template>

    <hr>

    <template v-if="states.add == true">
        <form>
            <template v-if="states.edit == false">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control form-control-sm" placeholder="Enter your username" v-model="formData.username" />
                    <small class="form-text error">{{ errors.username }}</small>
                    <small class="form-text success">{{ success.username }}</small>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control form-control-sm" placeholder="Enter your password" v-model="formData.password" />
                    <dl>
                        <small><dt>Requirements</dt></small>
                        <small><dd class='text-danger' v-for='rule in rules.password'>
                            <template v-if='!rule.valid'>
                                - {{ rule.message }} 
                            </template>
                        </dd></small>
                        <small><dd class='text-danger'>{{ errors.password }} </dd></small>
                    </dl> 
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control form-control-sm" placeholder="Enter your password" v-model="formData.password2" />
                    <small class="form-text error">{{ errors.password2 }}</small>
                    <small class="form-text success">{{ success.password2 }}</small>
                </div>
            </template>
            <template v-else>
                <h3 class='text-center'>{{ title }} </h3>
                <small class="form-text error">{{ errors.username }}</small>
                <small class="form-text success">{{ success.username }}</small>
            </template>
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control form-control-sm" placeholder="Example: fuck@you.com" v-model="formData.email" />
                    <small class="form-text error">{{ errors.email }}</small>
                    <small class="form-text success">{{ success.email }}</small>
            </div>

            <div class="form-group">
                <label>Role</label> 
                
                    <select class="form-control" v-model="formData.roleName">
                        <option v-for="role in roles">{{ role.roleName }}</option>
                    </select>
                <small class="form-text error">{{ errors.role }}</small>
                <small class="form-text success">{{ success.role }}</small>
            </div>

            <div class="form-group"></div>
                <button type="button" class="btn btn-danger" v-on:click="cancel">Cancel</button>
                <button type="button" class="btn btn-primary" v-on:click="submit">{{ states.edit ? 'Edit User' : 'Add User' }}</button>
            </div>
        </form>
    </template>
   
</div>
@section Scripts {
    <script type="text/javascript" src="~/js/user/validate.js"></script>
    <script type="text/javascript" src="~/js/user/requests.js"></script>
    <script type="text/javascript" src="~/js/user/user.js"></script>
}