
<div id="app">

  <template>
    <b-navbar type="dark" variant="dark">
      <b-navbar-nav>
        <b-nav-item to="/">Home</b-nav-item>
        <b-nav-item to="/Positions">Positions</b-nav-item>
        <b-nav-item to="/Loans">Loans</b-nav-item>
        <b-nav-item to="/Banks">Banks</b-nav-item>
        <b-nav-item to="/users">Users</b-nav-item>
        <!-- Navbar dropdowns -->
        <b-nav-item-dropdown text="User" right>
          <b-dropdown-item href="#">Account</b-dropdown-item>
          <b-dropdown-item href="#">Settings</b-dropdown-item>
          <b-dropdown-item href="#">Sign Out</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-navbar>
  </template>
  </p>
  <!-- route outlet -->
  <!-- component matched by the route will render here -->
  <router-view ></router-view>
  
    <template>
        <div class="loading" v-if="loading">
        Loading...
        </div>
    </template>


</div>
@section Scripts {
    <script type="module" src="~/js/pages/userPage.js"></script>
    <script type="module" src="~/js/components/debugButton.js"></script>
    <script type="text/javascript" src="~/js/services/validate.js"></script>
    <script type="text/javascript" src="~/js/services/userRequests.js"></script>
    <script type="module" src="~/js/app.js"></script>
    
}