@{
    ViewData["Title"] = "Home Page";
}

<h1>Getting Started with Vue.js in .NET Core</h1>
<div id="loan">
    <loan-title>fuck</loan-title>

  <button-counter></button-counter>

</div>
@section Scripts {
     <script type="text/javascript" src="~/js/loan/loan.js"></script>
}
